{
    "server":"0.0.0.0",
    "server_port":"{{ ss_port }}",
    "local_address":"127.0.0.1",
    "local_port":1080,
    "password":"{{ ss_password }}",
    "timeout":60,
    "method":"{{ ss_method }}"
}
